<template>
  <div>
    <h1>Count: {{ count }}</h1>
    <div>
      <button class="increment" @click="increment">+</button>
      <button class="decrement" @click="decrement">-</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Count',
  data() {
    return {
      count: 0
    }
  },
  methods: {
    increment() {
      this.count = this.count + 1
      return this.count
    },
    decrement() {
      this.count = this.count - 1
      return this.count
    }
  }
}
</script>

<style lang="scss" scoped></style>
