<template>
  <div>
    <input type="text" placeholder="search YouTube" @input="onInput" />
  </div>
</template>

<script>
export default {
  name: 'SearchBar',
  data() {
    return {
      searchBar: 'Search Bar'
    }
  },
  methods: {
    onInput(event) {
      this.$emit('termChange', event.target.value)
    }
  }
}
</script>

<style scoped>
input {
  width: 75%;
}

div {
  text-align: center;
  margin: 20px;
}
</style>
