<template>
  <div>
    <a class="dropdown-button btn" href="#">Open</a>

    <ul class="dropdown-content">
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Trigger',
  data() {
    return {
      isOpen: false
    }
  }
}
</script>

<style scoped></style>
