<template>
  <ul class="list-group col-md-4">
    <VideoListItem
      v-for="(video, i) in videos"
      :video="video"
      :key="i"
      @videoSelect="onVideoSelect"
    />
  </ul>
</template>

<script>
import VideoListItem from '@/components/VideoListItem'
export default {
  name: 'VideoList',
  components: {
    VideoListItem
  },
  props: {
    videos: Array
  },
  data() {
    return {
      name: 'Video List'
    }
  },
  methods: {
    onVideoSelect(video) {
      this.$emit('videoSelect', video)
    }
  }
}
</script>

<style lang="scss" scoped></style>
